@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&amp;display=swap);
body {
  color: #303841;
  font-family: Rubik, sans-serif;
  margin: 0;
}
.App_mainContent{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 760px;
  margin: 0 auto;
}
.App_mainContent:before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%) skewY(-8deg);
  background-color: #f6c90e;
  z-index: -1;

  -webkit-animation: App_wave 8s ease-in-out infinite alternate;
  animation: App_wave 8s ease-in-out infinite alternate;
}
@-webkit-keyframes App_wave {
  0% {
    transform: translateX(-50%) skew(0deg, -8deg);
  }
  to {
    transform: translateX(-30%) skew(8deg, -4deg);
  }
}
@keyframes App_wave {
  0% {
    transform: translateX(-50%) skew(0deg, -8deg);
  }
  to {
    transform: translateX(-30%) skew(8deg, -4deg);
  }
}
@media only screen and (max-width: 800px) {
  .App_mainContent{
    height: auto;
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  .App_mainContent{
    padding: 0 8px;
  }
}
.App_card {
  background-color: #fff;
  box-sizing: border-box;
  width: 360px;
  height: 600px;
  box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, 0.02),
    0 7px 5.4px rgba(0, 0, 0, 0.028), 0 12.1px 10.1px rgba(0, 0, 0, 0.035),
    0 19.8px 18.1px rgba(0, 0, 0, 0.042), 0 34.7px 33.8px rgba(0, 0, 0, 0.05),
    0 81px 81px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  overflow: hidden;
  padding: 0 28px;
  position: relative;
  margin-bottom: 20px;
}
.App_card:before {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #f6c90e;
  top: -20%;
  left: -50%;
  z-index: 0;
}
.App_cardTop {
  margin: 12px 0;
  position: relative;
}
.App_cardTopLogo {
  display: block;
  width: 50px;
}
.App_cardTitle {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0;
  position: relative;
}
.App_cardTitleAmount {
  float: right;
}
.App_cardBody {
  height: calc(100% - 98px);
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}
.App_cardBody::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 800px) {
  .App_card {
    margin: 20px auto;
  }
}
@media only screen and (max-width: 480px) {
  .App_card {
    width: 340px;
  }
}
@media only screen and (max-width: 320px) {
  .App_card {
    width: 300px;
    height: 480px;
    padding: 0 14px;
  }
}
.App_shopItem {
  padding: 40px 0;
}
.App_shopItem:first-child {
  padding-top: 0;
}
.App_shopItemImage {
  border-radius: 30px;
  height: 380px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.App_shopItemImage img {
  display: block;
  width: 100%;
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
  transform: rotate(-24deg);
  margin-left: -16px;
}
@media only screen and (max-width: 320px) {
  .App_shopItemImage {
    height: 240px;
  }
}
.App_shopItemName {
  font-size: 20px;
  font-weight: 700;
  margin: 26px 0 20px;
  line-height: 1.5;
}
.App_shopItemDescription {
  font-size: 13px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}
.App_shopItemBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App_shopItemPrice {
  font-size: 18px;
  font-weight: 700;
}
.App_shopItemButton {
  cursor: pointer;
  background-color: #f6c90e;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  height: 46px;
  min-width: 46px;
  padding: 16px 20px;
  border-radius: 100px;
  transition: all 0.25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.App_shopItemButton:hover {
  background-color: #f8d43f;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
}
.App_shopItemButton.App_inactive {
  width: 46px;
  pointer-events: none;
  cursor: default;
}
.App_shopItemButtonCover {
  width: 16px;
  height: 16px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App_shopItemButtonCoverCheckIcon {
  width: 100%;
  height: 100%;
  transform: translate(-100%, -73%) rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 50%;
}
.App_shopItemButtonCoverCheckIcon:after,
.App_shopItemButtonCoverCheckIcon:before {
  content: "";
  display: block;
  background-color: #303841;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}
.App_shopItemButtonCoverCheckIcon:before {
  width: 3px;
  height: 50%;
}
.App_shopItemButtonCoverCheckIcon:after {
  width: 100%;
  height: 3px;
}
@media only screen and (max-width: 480px) {
  .App_shopItem {
    padding: 20px 0;
  }
}
.App_cartEmpty {
  position: absolute;
}
.App_cartEmptyText {
  font-size: 14px;
}
.App_cartItem {
  display: flex;
  padding: 20px 0;
}
.App_cartItemLeft {
  flex: 0;
}
.App_cartItemRight {
  flex: 1;
}
.App_cartItemName {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}
.App_cartItemPrice {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.App_cartItemActions,
.App_cartItemCount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.App_cartItemCount {
  flex: 1;
}
.App_cartItemCountNumber {
  font-size: 14px;
  margin: 0 8px;
  width: 20px;
  text-align: center;
}
.App_cartItemCountButton {
  cursor: pointer;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: #eee;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.App_cartItemCountButton:hover {
  background-color: #ddd;
}
.App_cartItemRemove {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6c90e;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.App_cartItemRemove:hover {
  background-color: #f8d43f;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
}
.App_cartItemRemove img {
  width: 16px;
  height: 16px;
}
.App_cartItemImage {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #eee;
  margin-right: 34px;
}
.App_cartItemImageBlock img {
  display: block;
  width: 140%;
  transform: rotate(-28deg) translateY(-40px);
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
}
.button-text-enter-active,
.button-text-leave-active {
  transition: opacity 0.15s, top 0.15s;
}
.button-text-enter,
.button-text-leave-to {
  opacity: 0;
}
.cart-list-enter .cartItemRight .cartItemName,
.cart-list-enter .cartItemRight .cartItemPrice {
  opacity: 0;
  transform: translateX(30px);
}
.cart-list-enter .cartItemRight .cartItemCount,
.cart-list-enter .cartItemRight .cartItemRemove {
  opacity: 0;
}
.cart-list-enter .cartItemImage,
.cart-list-enter .cartItemImage .cartItemImageBlock {
  transform: scale(0);
}
.cart-list-enter-active {
  transition: all 2s;
}
.cart-list-enter-active .cartItemRight .cartItemName,
.cart-list-enter-active .cartItemRight .cartItemPrice {
  transition: 0.4s;
}
.cart-list-enter-active .cartItemRight .cartItemName {
  transition-delay: 0.7s;
}
.cart-list-enter-active .cartItemRight .cartItemPrice {
  transition-delay: 0.85s;
}
.cart-list-enter-active .cartItemRight .cartItemCount,
.cart-list-enter-active .cartItemRight .cartItemRemove {
  transition: opacity 0.4s;
  transition-delay: 1s;
}
.cart-list-enter-active .cartItemImage {
  transition: 0.5s cubic-bezier(0.79, 0.01, 0.22, 1);
}
.cart-list-enter-active .cartItemImage .cartItem-block {
  transition: 0.5s cubic-bezier(0.79, 0.01, 0.22, 1) 0.1s;
}
.cart-list-leave-active {
  transition: 0.7s cubic-bezier(0.79, 0.01, 0.22, 1);
}
.cart-list-leave-to {
  transform: scale(0);
  opacity: 0;
}
.cart-list-move {
  transition: 0.7s cubic-bezier(0.79, 0.01, 0.22, 1);
}
.no-content-enter-active,
.no-content-leave-active {
  transition: opacity 0.7s;
  position: absolute;
}
.no-content-enter,
.no-content-leave-to {
  transform: scale(0);
  opacity: 0;
}
